<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/head">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:replace="/fragments/nav :: nav-front">
</nav>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class = "col-7" th:utext="${page.content}"></div>
    </div>


    <div th:replace="/fragments/categories"></div>


</div>
<footer class="container" th:replace="/fragments/footer">
</footer>
</body>
</html>
